---
import Layout from "@/layouts/Layout.astro";
import { getStaticLanguagePaths } from "@/i18n/utils";
import AllServicesInventory from "@/components/organisms/AllServicesInventory";

export async function getStaticPaths() {
  return getStaticLanguagePaths();
}
---

<Layout title="Servicios - Lista de Servicios">
  <div class="min-h-screen bg-white">
    <!-- Solo el organismo de servicios -->
    <AllServicesInventory 
      client:load 
    />
  </div>
</Layout>