---
import Layout from "@/layouts/Layout.astro";
import { getStaticLanguagePaths } from "@/i18n/utils";
import { Tag } from "@/components/atoms/Tag";

export async function getStaticPaths() {
  return getStaticLanguagePaths();
}
---

<Layout >

  <div class="mt-4 flex gap-2">
    <Tag text="React" onRemove={() => alert("React eliminado")} />
    <Tag text="TypeScript" />
  </div>

</Layout>
