---
import { Image } from "@/components/atoms/Image";
---

<div class="max-w-md mx-auto py-8">
  <h1 class="text-2xl font-bold mb-4">Ejemplo Átomo: Image</h1>
  <Image
    src="https://dummyimage.com/160x160/bcbcbc/fff.png&text=productimage+160x160"
    alt="productimage 160x160"
    width={160}
    height={160}
    radius="md"
    shadow={true}
    bordered={true}
    fit="cover"
  />
</div>---
import { Image } from "@/components/atoms/Image";
---

<div class="max-w-md mx-auto py-8">
  <h1 class="text-2xl font-bold mb-4">Ejemplo Átomo: Image</h1>
  <Image
    src="https://dummyimage.com/160x160/bcbcbc/fff.png&text=productimage+160x160"
    alt="productimage 160x160"
    width={160}
    height={160}
    radius="md"
    shadow={true}
    bordered={true}
    fit="cover"
  />
</div>