---
import Layout from "@/layouts/Layout.astro";
import { getStaticLanguagePaths, useLocalizePage } from "@/i18n/utils";

const { t } = useLocalizePage(Astro);

export async function getStaticPaths() {
  return getStaticLanguagePaths();
}
---

<Layout>
  <h1>{t("other.example.content")}</h1>
</Layout>
