---
import Layout from "../../../../../../layouts/Layout.astro";
import { getStaticLanguagePaths } from "../../../../../../i18n/utils";
import { Heading } from "../../../../../../components/atoms/Heading";
import { Text } from "../../../../../../components/atoms/Text";
import BannerOfertasTopCarousel from "../../../../../../components/organisms/BannerOfertasTop";

export async function getStaticPaths() {
  return getStaticLanguagePaths();
}

const { locale } = Astro.params;
---

<Layout title="BannerOfertasTop - Top Ofertas" lang={locale}>
  <main class="container mx-auto p-8">

    <!-- Auto Fetch -->
    <section class="mb-16">
      <Heading level={2} className="mb-4">Auto Fetch (Destacados)</Heading>
      <div class="p-6 border border-gray-200 rounded-lg bg-gray-50">
        <BannerOfertasTopCarousel client:load />
      </div>
    </section>


  </main>
</Layout>

<style>
  /* Hide scrollbar but keep functionality */
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
</style>