---
import Layout from "@/layouts/Layout.astro";
import { getStaticLanguagePaths } from "@/i18n/utils";
import { CardPromotions as CardPromotionsComponent } from "@/components/molecules/CardPromotions";

export async function getStaticPaths() {
  return getStaticLanguagePaths();
}

const mock = {
  imageUrl: "https://placehold.co/260x300/E5E7EB/6B7280?text=ProductImage%20260x300",
  title: "Text-Title",
  subtitle: "Text-Title",
  rightText: "Text-Title",
  price: 0,
  badge: "BADGE-2",
};
---

<Layout title="CardPromotions">
  <div class="my-10 flex justify-center">
    <CardPromotionsComponent client:load dataCard={mock} />
  </div>
</Layout>
