---
import Layout from "@/layouts/Layout.astro";
import { getStaticLanguagePaths } from "@/i18n/utils";
import { NavIcons } from "@/components/molecules/NavIcons";

export async function getStaticPaths() {
  return getStaticLanguagePaths();
}
---

<Layout title="Ejemplo de NavIcons">
  <div class="max-w-4xl mx-auto my-10 space-y-8">

    <div class="space-y-4">
      <div class="p-4">
        <NavIcons 
          client:load
        />
      </div>
    </div>



  </div>
</Layout>