---
import Layout from "@/layouts/Layout.astro";
import { getStaticLanguagePaths } from "@/i18n/utils";
import { FreeShippingToggle } from "@/components/molecules/FreeShippingToggle";

export async function getStaticPaths() {
  return getStaticLanguagePaths();
}

let freeShipping = false;
function handleSwitch(val: boolean) {
  freeShipping = val;
}
---

<Layout title="Ejemplo Switch Envío Gratis">
  <div class="max-w-xs mx-auto my-10">
    <FreeShippingToggle
      client:load
      checked={freeShipping}
      onChange={handleSwitch}
    />
  </div>
</Layout>
