---
import Layout from "@/layouts/Layout.astro";
import { getStaticLanguagePaths } from "@/i18n/utils";
import { FooterSearch } from "@/components/molecules/FooterSearch";

export async function getStaticPaths() { return getStaticLanguagePaths(); }
---

<Layout title="FooterSearch">
  <div class="mx-auto max-w-5xl p-6">
    <FooterSearch
      client:load
      title="text"
      subtitle="text"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      placeholder="abc"
      buttonText="text"
      searchRowMaxWidth={900}    <!-- largo de la barra -->
      descriptionMaxWidth={700}  <!-- ancho del párrafo -->
    />
  </div>
</Layout>
