@import "tailwindcss";
@keyframes marqueeX {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes marqueeY {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}
