@import "tailwindcss";
@keyframes marqueeX {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes marqueeY {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

/* Oculta secciones marcadas cuando la búsqueda inline está activa */
body.search-active .hide-when-search {
  display: none !important;
}

/* (opcional) ajusta el fondo para que todo lo oculto no “parpadee” */
body.search-active {
  background-color: #f9fafb; /* gris claro */
}
